body{
	margin:0;
	padding:0;
}
.header{
	padding: 20px 0 20px 60px;
	background-color: #000;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	font-family: verdana;
}
.button{
	display: inline-block;
	padding: 4px 10px;
	background-color: #fff;
	border: 2px solid #000;
	text-decoration: none;
	color: #000;
}
.credits{
	float:right;
	width:50%;
	margin-top:25px;
}